<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Templates Page &#8211; ExpressionEngine Documentation</title>

  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <link rel="contents" href="../../index.html" />
  <style type="text/css" media="screen,print">@import url(../../docs.css);</style>
</head>

<body>
<div><a name="top"></a></div>

<div id="header">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%;"><tr>
<td class="docheading" style="width:300px;"><a href="../../index.html"><img src="../../images/user_guide.gif" width="231" height="24" alt="ExpressionEngine User Guide" /></a></td>
<td class="searchbox"><form method="get" action="http://www.google.com/search" class="searchbox"><div>Search&nbsp;&nbsp;<input type="text" class="input" name="q" id="q" size="31" maxlength="255" value="" /><input type="hidden" name="as_sitesearch" id="as_sitesearch" value="ee1docs.com" />&nbsp;<input type="submit" class="submit" name="sa" value="Search" /></div></form></td>
</tr>
</table>
</div>


<div id="navlinks">
<a href="../../index.html">Table of Contents</a> &gt;
<a href="../../index.html#cp_docs">The Control Panel</a> &gt;
<strong>Templates Page</strong>
</div>


<div id="content">

	<h1>Templates Page<div class="subhead">The main interface for editing your pages</div></h1>

	<p>The <dfn>Templates</dfn> page of the Control Panel allows you to create, edit, and manage your Templates and Template Groups.  In addition you can set preferences and create Global Template variables.</p>
	
	<p>If you have not read the <a href="../../overview/templates.html">Template Introduction</a> or <a href="../../quick_start/index.html">Quick Start Tutorial</a> you are encouraged to do so before reading the information below.</p>


		<ul>
			<li><a href="templates.html">Main Templates Page</a></li>
			<li><a href="edit_template.html">Editing a Template</li>
			<li><a href="template_preferences.html">Template Preferences</a></li>
			<li><a href="new_template_group.html">Creating a New Template Group</a></li>
			<li><a href="new_template.html">Creating a New Template</a></li>
			<li><a href="global_variables.html">Global Variables</a></li>
			<li><a href="global_template_preferences.html">Global Template Preferences</a></li>
		</ul>



<p class="center"><a href="#top">Top of Page</a></p>

<!-- {user_guide_comments} -->

<div id="footer">
  <address><a href="http://expressionengine.com/">ExpressionEngine</a> &#8211; Copyright &#169; 2002-2006 &#8211; <a href="http://ellislab.com/">EllisLab, Inc.</a></address>
</div>

</body>
</html>