<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>New Template Group &#8211; ExpressionEngine Documentation</title>

  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <link rel="contents" href="../../index.html" />
  <style type="text/css" media="screen,print">@import url(../../docs.css);</style>
</head>

<body>
<div><a name="top"></a></div>

<div id="header">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%;"><tr>
<td class="docheading" style="width:300px;"><a href="../../index.html"><img src="../../images/user_guide.gif" width="231" height="24" alt="ExpressionEngine User Guide" /></a></td>
<td class="searchbox"><form method="get" action="http://www.google.com/search" class="searchbox"><div>Search&nbsp;&nbsp;<input type="text" class="input" name="q" id="q" size="31" maxlength="255" value="" /><input type="hidden" name="as_sitesearch" id="as_sitesearch" value="ee1docs.com" />&nbsp;<input type="submit" class="submit" name="sa" value="Search" /></div></form></td>
</tr>
</table>
</div>


<div id="navlinks">
<a href="../../index.html">Table of Contents</a> &gt;
<a href="../../index.html#cp_docs">The Control Panel</a> &gt;
<a href="index.html">Templates</a> &gt;
<strong>New Template Group</strong>
</div>


<div id="content">

	<h1>New Template Group</h1>

	<p>The <dfn>New Template Group</dfn> tab at the top of the Templates page allows you to create a new Template Group.</p>

	<div class="imgwrapper"><img src="../../images/template_new_group.png" width="398" height="250" alt="New Template Group" title="New Template Group" border="0" /></div>


	<h3>Template Group Name</h3>

		<p>The name of the Template Group.  This must be a single word with no spaces.  You may use the letters a-z, the numbers 0-9, and the underscore and hyphen/dash characters.  You should refrain from creating all-numeric Template Group names as they can cause confusion with Entry IDs used in URLs.</p>


	<h3>Duplicate an Existing Template Group</h3>

	<p>You can optionally choose to base your new group on an existing one.</p>
	
	<h3>Default Home Page</h3>
	
	<p>ExpressionEngine requires that the "index" template in one of your template groups be considered your site default page.  This page will
	be shown if <b>only</b> the Template Group is specified in the URL.  For example:</p>
	
	<code>http://example.com/index.php<dfn>/template_group/</dfn></code>

	<p>The checkbox at the bottom of the Template Group page allows you to choose a particular Group as the site default.</p>

</div>


<p class="center"><a href="#top">Top of Page</a></p>

<!-- {user_guide_comments} -->

<div id="footer">
  <address><a href="http://expressionengine.com/">ExpressionEngine</a> &#8211; Copyright &#169; 2002-2012 &#8211; <a href="http://ellislab.com/">EllisLab, Inc.</a></address>
</div>

</body>
</html>