<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Main Templates Page&#8211; ExpressionEngine Documentation</title>

  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <link rel="contents" href="../../index.html" />
  <style type="text/css" media="screen,print">@import url(../../docs.css);</style>
</head>

<body>
<div><a name="top"></a></div>

<div id="header">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%;"><tr>
<td class="docheading" style="width:300px;"><a href="../../index.html"><img src="../../images/user_guide.gif" width="231" height="24" alt="ExpressionEngine User Guide" /></a></td>
<td class="searchbox"><form method="get" action="http://www.google.com/search" class="searchbox"><div>Search&nbsp;&nbsp;<input type="text" class="input" name="q" id="q" size="31" maxlength="255" value="" /><input type="hidden" name="as_sitesearch" id="as_sitesearch" value="ee1docs.com" />&nbsp;<input type="submit" class="submit" name="sa" value="Search" /></div></form></td>
</tr>
</table>
</div>


<div id="navlinks">
<a href="../../index.html">Table of Contents</a> &gt;
<a href="../../index.html#cp_docs">The Control Panel</a> &gt;
<a href="index.html">Templates</a> &gt;
<strong>Main Templates Page</strong>
</div>


<div id="content">

	<h1>Main Templates Page</h1>

	<p>The main <dfn>Templates</dfn> page allows you manage your Templates. Clicking a particular Template Group name will reveal that Group so that you can work with it.</p>

	<p><dfn>Tip:&nbsp; You can click multiple Group names to show more than one.</dfn></p>

	<div class="imgwrapper"><img src="../../images/template_group_select.png" width="192" height="273" alt="Template Group Selection screen" title="Template Group Selection screen" border="0" /></div>


	<p>Once chosen, the Template Group will be shown.</p>

	<div class="imgwrapper"><img src="../../images/template_group.png" width="760" height="613" alt="Template Group Expanded screen" title="Template Group Expanded screen" border="0" /></div>

	<h3>Left Column</h3>

	<p>On the <dfn>left side</dfn> you'll find the Template Group name as well as several links:</p>

	<ul>
		<li><a href="template_preferences.html"><b>Preferences</b></a>: Allows you to set preferences to any of the Templates within the Group.</li>
		<li><a href="new_template.html"><b>New Template</b></a>: Allows you to add a new Template to the Template Group.</li>
		<li><b>Edit Group</b>: Allows you to edit the name of the Template Group.</li>
		<li><b>Delete Group</b>: Allows you to delete an entire Template Group and all Templates within it.</li>
		<li><b>Export Templates</b>: Allows you to export Templates as text files.</li>
	</ul>

	<h3>Right Column</h3>

	<p>The <dfn>right side</dfn> you'll see a list of all the Templates that are part of the Group.  There are several columns in the table:</p>

	<ul>
		<li><a href="edit_template.html"><b>Template Name (Edit Template)</b></a>:  Clicking the name allows you to edit the Template.</li>
		<li><b>Hits</b>: The number of times the Template has been viewed or "hit" on your site.</li>
		<li><b>View</b>: This opens the selected Template in a new window, displaying it as it will be rendered on your site.</li>
		<li><a href="template_access.html"><b>Access</b></a>: Allows you to restrict the viewing of your templates based on Member Groups.</li>
		<li><b>Delete</b>: Allows you to delete the Template.</li>
	</ul>



	<h2>Other Controls</h2>

	<p>There are also a few other controls at the top of the <dfn>Templates</dfn> page:</p>
	
	
	<ul>
		<li><a href="new_template_group.html"><b>New Template Group</b></a>: Allows you to create additional Template Groups.</li>
		<li><a href="global_variables.html"><b>Global Variables</b></a>: Allows you to create your own custom variables.</li>
		<li><a href="global_template_preferences.html"><b>Global Template Preferences</b></a>: Master preferences that affect all templates/groups.</li>
		<li><b>Edit Group Order</b>: Permits you to rearrange the order that groups appear in the list.</li>
		<li><a href="template_preferences_manager.html"><b>Template Preferences Manager</b></a>: Manage Preferences and Access for Multiple Templates and Groups at once.</li>

	</ul>

</div>

	


<p class="center"><a href="#top">Top of Page</a></p>

<!-- {user_guide_comments} -->

<div id="footer">
  <address><a href="http://expressionengine.com/">ExpressionEngine</a> &#8211; Copyright &#169; 2002-2012 &#8211; <a href="http://ellislab.com/">EllisLab, Inc.</a></address>
</div>

</body>
</html>