<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Troubleshooting &#8211; ExpressionEngine Documentation</title>

  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <link rel="contents" href="./index.html" />
  <style type="text/css" media="screen,print">@import url(./../../docs.css);</style>
</head>

<body>
<div><a name="top"></a></div>

<div id="header">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%;"><tr>
<td class="docheading" style="width:300px;"><a href="index.html"><img src="./../../images/user_guide.gif" width="231" height="24" alt="ExpressionEngine User Guide" /></a></td>
<td class="searchbox"><form method="get" action="http://www.google.com/search" class="searchbox"><div>Search&nbsp;&nbsp;<input type="text" class="input" name="q" id="q" size="31" maxlength="255" value="" /><input type="hidden" name="as_sitesearch" id="as_sitesearch" value="ee1docs.com" />&nbsp;<input type="submit" class="submit" name="sa" value="Search" /></div></form></td>
</tr>
</table>
</div>


<div id="navlinks">
<a href="../../index.html">Table of Contents</a> &gt; 
<a href="../index.html">Troubleshooting</a> &gt; 
<strong>CAPTCHA images not appearing</strong>
</div>



<div id="content">

	<h1>CAPTCHA images not appearing</h1>

	<p class="ts_desc">CAPTCHAs are enabling but there is a blank space where they should appear.</p>
	
	<h2>Troubleshooting missing CAPTCHA Images</h2>
	
	<p>There are several possible reasons for CAPTCHA images to not appear:</p>
	
	<ul>
		<li>The path and/or URL to the CAPTCHA directory is not specified correctly under <var>Admin > Captcha Preferences</var></li>
		<li><var>images/captchas/</var> directory is not set to 777/writable</li>
		<li>The server does not support True Type Fonts.  TrueType Fonts can be disabled in <var>Admin > Captcha Preferences</var></li>
		<li>GD library isn't installed and/or working correctly</li>
	</ul>
	
	
	
<p class="center"><a href="#top">Top of Page</a></p>

<!-- {user_guide_comments} -->

<div id="footer">
  <address><a href="http://expressionengine.com/">ExpressionEngine</a> &#8211; Copyright &#169; 2002-2012 &#8211; <a href="http://ellislab.com/">EllisLab, Inc.</a></address>
</div>
</div>
</body>
</html>