<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Troubleshooting &#8211; ExpressionEngine Documentation</title>

  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <link rel="contents" href="./index.html" />
  <style type="text/css" media="screen,print">@import url(./../../docs.css);</style>
</head>

<body>
<div><a name="top"></a></div>

<div id="header">
<table cellpadding="0" cellspacing="0" border="0" style="width:100%;"><tr>
<td class="docheading" style="width:300px;"><a href="index.html"><img src="./../../images/user_guide.gif" width="231" height="24" alt="ExpressionEngine User Guide" /></a></td>
<td class="searchbox"><form method="get" action="http://www.google.com/search" class="searchbox"><div>Search&nbsp;&nbsp;<input type="text" class="input" name="q" id="q" size="31" maxlength="255" value="" /><input type="hidden" name="as_sitesearch" id="as_sitesearch" value="ee1docs.com" />&nbsp;<input type="submit" class="submit" name="sa" value="Search" /></div></form></td>
</tr>
</table>
</div>


<div id="navlinks">
<a href="../../index.html">Table of Contents</a> &gt; 
<a href="../index.html">Troubleshooting</a> &gt; 
<strong>Content from my new Custom Field is not appearing on the page</strong>
</div>



<div id="content">

	<h1>Content from my new Custom Field is not appearing on the page.</h1>

	<p class="ts_desc">A new custom field was created and entries were published with content in that custom field; however, content from the custom field does not get output to the page.</p>
	
	<h2>Displaying Content from Custom Fields</h2>
	
	<p>Ensure that the custom field is being called within the template.  For example, if the custom field is named "extended" then it needs to be called in the template like so:
		
		<code>
			{exp:channel:entries}<br />
			{extended}<br />
			{/exp:channel:entries}
		</code>
	</p>
	
<p class="center"><a href="#top">Top of Page</a></p>

<!-- {user_guide_comments} -->

<div id="footer">
  <address><a href="http://expressionengine.com/">ExpressionEngine</a> &#8211; Copyright &#169; 2002-2012 &#8211; <a href="http://ellislab.com/">EllisLab, Inc.</a></address>
</div>
</div>
</body>
</html>